.header {
    background-color: red;
    height: 200px;
}

.outer {
    background-color: yellow;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner {
    background-color: green;
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}

.footer {
    background-color: blue;
    height: 200px;
}
