.header {
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
}

.header-menu {
    display: flex;
    list-style: none;
    height: 60px;
    width: 500px;
    margin: 0 10px 0 auto;
    padding-left: 0;
    text-align: center;

}

.header-menu-item {
    width: 100px;
    padding-top: 18px;
}

.header-menu-link {
    text-decoration: none;
    color: #32abf8;
}

.header-image {
    height: 60px;
}

body {
    margin: 0;
}