.header {
    width: 80%;
    height: 30px;
    margin: auto;
}
.parent-menu {
    list-style: none;
    display: flex;
    text-align: center;
    height: 100%;
    padding-left: 0;
    background-color: gray;
}

.parent-item {
    width: 25%;
    position: relative;
}

.parent-item:hover {
    background-color: lightgray;
}

.parent-item:hover .child-menu {
    display: block;
}

.child-menu {
    width: 100%;
    padding-left: 0;
    display: none;
    list-style: none;
    background-color: lightgray;
    position: absolute;
    top: 30px;
    left: 0;
}